.App {
    background-image: url('../../public/HabitAtomBackground.png');
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; 
}

#create {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#create-buttons-container {
    margin-top: 60px;
    margin-bottom: 5%;
}

#habit-text,
#task-text {
    position: absolute;
    color: white;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#task-text {
    left: 50%;
}

.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}