.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

main{
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.checkbox-wrapper-22 .switch {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 50px;
}

.checkbox-wrapper-22 .switch input {
  display: none;
}

.checkbox-wrapper-22 .slider {
  background-color: #D9D9D9;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.checkbox-wrapper-22 .slider:before {
  background-color: #0BC682;
  content: "";
  height: 50px;
  left:0;
  position: absolute;
  transition: .4s;
  width: 50%;
}

.checkbox-wrapper-22 input:checked+.slider:before {
  transform: translateX(100%);
}

.checkbox-wrapper-22 .slider.round {
  border-radius: 34px;
  width: 100%;
  height: 100%;
}

.checkbox-wrapper-22 .slider.round:before {
  border-radius: 34px;
}
